@inherits LayoutComponentBase

<main>
    <article class="content px-4">  
        @Body
    </article>
    <FluentToastProvider MaxToastCount="10" />
    <FluentDialogProvider />
    <FluentTooltipProvider />
    <FluentMessageBarProvider />
    <FluentMenuProvider />
</main>





